body {
  margin: 0;
  padding: 0;
  background-color: #f99417;
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 100vh;
  color: #111;
}

.container {
  flex-basis: 48%;
  border: 1px solid #000;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.6);
}

.app {
  flex-basis: 48%;
  border: 1px solid #000;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.6);
}

.input-group input {
  margin-bottom: 6px;
}

.register-btn {
  width: 200px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
  }
  .container {
    width: 700px;
  }
  .app {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 580px;
  }
  .app {
    width: 540px;
  }
}

@media (max-width: 580px) {
  .container {
    width: 420px;
  }
  .app {
    width: 420px;
  }
}
@media (max-width: 450px) {
  .container {
    width: 400px;
  }
  .app {
    width: 400px;
  }
  .btn-container {
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    padding-bottom: 8px;
  }
  .user-name {
    margin-bottom: 16px;
    font-size: 1.2rem;
  }
  .btn-box {
    display: flex;
    justify-content: space-between;
  }
}
